# **자료형(List, Dictionary, Tuple)**

* 여러 값을 한꺼번에 저장하고 관리하기 위한 자료형에 대해 배웁니다.
* 각 자료형에 대해 3가지를 배웁니다.
    * 생성 : 어떻게 만드는지
    * 조회 : 어떻게 데이터를 가져다 사용하는지
    * 수정 : 어떻게 추가, 변경, 삭제 하는지.

## **1.리스트(list)**

### **(1) 리스트 생성**

* 대괄호 […, …, …, …, … ] 로 선언
    * List_a = [ 1, 2, 3, 4, 5 ]

#### **1) 기본 생성**

In [5]:
# 리스트 생성하기
list_a = [ 1, 2, 3, 4, 5 ]
list_b = ['a','b','c','d','e']

# 전체 조회
print(list_a)
print(list_b)

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd', 'e']

* print문
    * 코드셀 안에서 화면에 결과를 출력하기 위해서 사용
    * 출력할 결과가 1개이면 생략 가능
    * 여러 개이면 반드시 print 문 사용해야 함
* 대체가능한 함수 : display()

#### **2) range 함수**
* range 함수는 자주 사용됩니다.
    * 순차 증가값(등차행렬)으로 리스트 생성시 
* 문법 : range(시작값, 끝값, 증가값)
    * 시작값 생략 --> 0부터 시작
    * 증가값 생략 --> 1씩 증가
    * 끝값 : 포함 안됨, 이전까지

In [8]:
# 1부터 11까지, 2씩 증가하는 값으로 리스트 생성
range(1, 12, 2)

range(1, 12, 2)

In [9]:
list(range(1, 12, 2))

[1, 3, 5, 7, 9, 11]

In [ ]:
# 20에서 0 전까지, 3씩 감소하는 값으로 리스트 생성

#### **3) 리스트 안의 리스트**

* 리스트 안에 리스트를 포함시킬 수 있습니다.
    * 1차원 리스트 안의 1차원 리스트를 포함시켜서, 2차원 리스트를 생성

In [10]:
list_d = [1, 2, 3]
list_e = [list_d, 4, 5]
print(list_e)

[[1, 2, 3], 4, 5]

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1]

[문2]

### **(2) 리스트 조회**

#### **1) 인덱스 값으로 조회**
* 인덱스 : 0부터 시작
* 인덱스의 끝에서부터 셀 때 : -1, -2, 3, ...

In [11]:
a = [23, 3, 16, 45, 11]
print(a[0], a[3])
print(a[-1], a[-3])

23 45
11 16

#### **2) 인덱스 범위 조회(슬라이싱)**
* 리스트[시작인덱스:끝인덱스]
    * 시작인덱스 부터 **끝 인덱스 전까지**
    * 시작인덱스 생략 ==> 처음부터
    * 끝인덱스 생략 ==> 끝까지

In [12]:
a = [23, 3, 16, 45, 11]

print(a[0:3])
# 또는
print(a[:3])

[23, 3, 16]
[23, 3, 16]

In [13]:
print(a[2:5])
print(a[2:])
print(a[-3:])

[16, 45, 11]
[16, 45, 11]
[16, 45, 11]

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1]

[문2]

### **(3) 리스트 수정**

#### **1) 값 추가**
* 값을 추가하는 두가지 방법
    * ① .append()
    * ② 리스트 + [추가할 값] : 리스트1 + 리스트2 = 합쳐진 리스트

In [14]:
a = [23, 3, 16, 45, 11]

a.append(99)
print(a)

[23, 3, 16, 45, 11, 99]

In [15]:
a = [23, 3, 16, 45, 11]

a = a + [99]
print(a)

[23, 3, 16, 45, 11, 99]

#### **2) 값 수정**
* 인덱스로 해당 값을 조회하고 그 자리에 수정
    * a[2] = 34

In [16]:
a = [23, 3, 16, 45, 11]

a[2] = 24
print(a)

[23, 3, 24, 45, 11]

#### **3) 값 삭제**
* 인덱스로 조회한 대상을 삭제 : del a[2]

In [18]:
a = [23, 3, 16, 45, 11]

del a[2]
print(a)

[23, 3, 45, 11]

* 특정 값을 찾아서 삭제 : 
    * 리스트.remove(값)

In [19]:
a = [23, 3, 16, 45, 11]

a.remove(45)
print(a)

[23, 3, 16, 11]

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1]

[문2]

In [ ]:
# ③ 리스트 list1에 1, 3, 5, 7을 저장한 뒤, 리스트 list2에 리스트 list1과 2, 4, 8을 저장하고,
#     list1의 두 번째 값을 list2에 추가하시오.

list1 = [1, 3, 5, 7]
list2 = [2, 4, 8]
list2.append(list1[1])
print(list2)

In [ ]:
# ④ 리스트 list1에 1, 3, 5, 7을 저장한 뒤, 리스트 list2에 리스트 list1과 2, 4, 8을 저장하고,
#     list1의 두 번째와 네 번째 값을 list2에 추가하시오.

list1 = [1, 3, 5, 7]
list2 = [2, 4, 8]
list2.append(list1[1])
list2.append(list1[3])
print(list2)

In [ ]:
# ⑤ 리스트 list1에 1, 3, 5, 7을 저장한 뒤, 리스트 list2에 리스트 list1과 2, 4, 8을 저장하고,
#     리스트 + 리스트 형태를 사용하여 list2에 list1를 추가하시오.

list1 = [1, 3, 5, 7]
list2 = [2, 4, 8]
list2 = list2 + list1
print(list2)

In [ ]:
# ⑥ 리스트 list1에 1, 3, 5, 7을 저장한 뒤, 리스트 list2에 리스트 list1과 2, 4, 8을 저장하고,
#     list1의 값으로 list2를 추가하시오.
#     힌트: 추가될 리스트 이름.append(추가할 리스트 이름)

list1 = [1, 3, 5, 7]
list2 = [2, 4, 8]
list1.append(list2)
print(list1)

In [ ]:
# ⑦ 리스트 a에 23, 3, 16, 45, 11을 저장하고, 리스트의 두 번째 값을 출력한 뒤, 
#    300으로 수정하고 다시 한 번 출력하여 확인하시오.
#    힌트: 리스트[수정할 인덱스 값] = 수정할 값

a = [23, 3, 16, 45, 11]
print(a[1])
a[1] = 300
print(a)

In [ ]:
# ⑧ 리스트 a에 23, 3, 16, 45, 11을 저장하고, 리스트의 마지막 값을 출력한 뒤, 
#     해당 값의 두 배의 값으로 수정하시오.

a = [23, 3, 16, 45, 11]
print(a[-1])
a[-1] = a[-1] * 2
print(a)

In [ ]:
# ⑨  리스트 a에 23, 3, 16, 45, 11을 저장하고, 두 번째 값을 삭제하시오.
#      힌트: del 리스트[삭제할 인덱스 값]

a = [23, 3, 16, 45, 11]
print(a)
del a[1]
print(a)

In [ ]:
# ⑩ 리스트 a에 23, 3, 16, 45, 11을 저장하고, 두 번째 값과 네 번째 값을 삭제하시오.

a = [23, 3, 16, 45, 11]
print(a)

del a[1]
print(a)

del a[3]
print(a)

In [ ]:
# ⑪ [심화] 리스트 my_list에 1부터 10까지 2씩 증가시킨 값을 저장한 뒤, 
#              my_list의 첫 번째 값을 0으로 수정하고, 세 번째 값을 변수 a에 저장한 뒤 삭제하고, 
#             append()를 사용하여 my_list에 a의 값을 추가하시오.

my_list = list(range(1, 11, 2))
print(my_list)

my_list[0] = 0
print(my_list)

a = my_list[2]
del my_list[2]
print(my_list)

my_list.append(a)
print(my_list)

## **2.딕셔너리(dictionary)**

* 하나의 딕셔너리 안에 다양한 형태의 여러 값들을 저장
* 여러 자료형들의 묶음

### **(1) 생성**

* 중괄호 {} 안에 , key : value 형태로 선언합니다.
    * Value : 다양한 형태의 변수
    * Key : Value 변수의 이름

In [20]:
dict_a = { 'v1' : 32,
           'l1' : [1, 2, 3],
           'd1' : {'a' : 1, 'b' : 2} }
print(dict_a)

{'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}

* 딕셔너리 정보 조회
    * .keys() : 딕셔너리의 key 만 조회
    * .values() : 딕셔너리의 값 만 조회
    * .items() : key와 값을 쌍(tuple)으로 조회

In [21]:
dict_a.keys()

dict_keys(['v1', 'l1', 'd1'])

In [22]:
dict_a.values()

dict_values([32, [1, 2, 3], {'a': 1, 'b': 2}])

In [23]:
dict_a.items()

dict_items([('v1', 32), ('l1', [1, 2, 3]), ('d1', {'a': 1, 'b': 2})])

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1]

### **(2) 조회**

* 조회시 키로 값을 조회
    * 딕셔너리[키]

In [25]:
dict_a = { 'v1': 32, 'l1': [1,2,3], 'd1': {'a':1, 'b':2}}

print( dict_a['v1'])
print('=' * 30)

print( dict_a['l1'])
print( dict_a['l1'][:2])
print('=' * 30)

print( dict_a['d1'])
print( dict_a['d1']['a'])

32
==============================
[1, 2, 3]
[1, 2]
==============================
{'a': 1, 'b': 2}
1

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1]

### **(3) 수정**

In [ ]:
dict_a = { 'v1': 32, 'l1': [1,2,3], 'd1': {'a':1, 'b':2}}

In [27]:
# 추가
dict_a['v2'] = 500
print(dict_a)

{'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}, 'v2': 500}

In [28]:
# 수정
dict_a['v2'] = 300
print(dict_a)

{'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}, 'v2': 300}

In [29]:
# 삭제
del dict_a['v2']
print(dict_a)

{'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1]

### **(4) [추가]리스트, 딕셔너리로 부터 값 할당하기**

In [30]:
# 리스트로 부터 값 할당
a = [23, 3, 16]

a1, a2, a3 = a
print(a1, a2, a3)

23 3 16

In [32]:
# 딕셔너리로 부터 값 할당
dict_a = { 'v1': 32, 'l1': [1,2,3], 'd1': {'a':1, 'b':2}}

# 각 값을 할당
a1, a2, a3 = dict_a.values()
print(a1, a2, a3)

32 [1, 2, 3] {'a': 1, 'b': 2}

## **3.튜플(tuple)**

* 튜플은 좌표, 순서쌍을 담는 자료형입니다.

In [33]:
# 소괄호로 선언
t = (4,7)
t

(4, 7)

In [35]:
# 조회는 인덱스로
print(t[0])
print(t[1])

4
7

## **4.복습문제**

1.

In [ ]:
# ① 리스트 list1에 10, 20, 30, 40, 50을 저장하고, 리스트 값들의 개수를 구하시오.
#     힌트: len(리스트 이름)

list1 = [10, 20, 30, 40, 50]
print(list1)
print(len(list1))

In [ ]:
# ② 리스트 list2에 1부터 20까지 3씩 증가하는 값들을 저장하고, 리스트 값들의 개수를 구하시오.

list2 = list(range(1, 21, 3))
print(list2)
print(len(list2))

In [ ]:
# ③ 리스트 list3에 'python', 'is', 'funny'를 저장하고, 리스트 값들의 개수를 구하시오.

list3 = ['python', 'is', 'funny']
print(list3)
print(len(list3))

In [ ]:
# ④ 리스트 list1에 10, 20, 30, 40, 50을 저장하고, 리스트 값들의 합을 구하시오.
#     힌트: sum(리스트 이름)

list1 = [10, 20, 30, 40, 50]
print(list1)
print(sum(list1))

In [ ]:
# ⑤ 리스트 list2에 1부터 20까지 3씩 증가하는 값들을 저장하고, 리스트 값들의 합을 구하시오.

list2 = list(range(1, 21, 3))
print(list2)
print(sum(list2))

In [ ]:
# ⑥ 리스트 list1에 10, 20, 30, 40, 50을 저장하고, list1의 자료형을 구하시오.
#     힌트: type(리스트 이름)

list1 = [10, 20, 30, 40, 50]
print(type(list1))

In [ ]:
# ⑦ 리스트 list2에 1부터 20까지 3씩 증가하는 값들을 저장하고, list2의 네 번째 값의 자료형을 구하시오.

list2 = list(range(1, 21, 3))
print(type(list2[3]))

In [ ]:
# ⑧ 리스트 list3에 'python', 'is', 'funny'를 저장하고, list3의 마지막 값의 자료형을 구하시오.

list3 = ['python', 'is', 'funny']
print(type(list3[-1]))

In [ ]:
# ⑨ 리스트 num = [1, 2, 3, 4, 5]일 때, num의 평균을 변수 avg에 저장하여 출력하시오.

num = [1, 2, 3, 4, 5]
avg = sum(num) /  len(num)
print(avg)

In [ ]:
# ① 리스트 list1에 10, 20, 30, 40, 50을 저장하고, 제일 끝에 60을 추가하시오.

list1 = [10, 20, 30, 40, 50]
list1.append(60)
print(list1)

In [ ]:
# ② 리스트 list2에 1부터 20까지 3씩 증가하는 값들을 저장하고, 제일 끝에 '3씩 증가'를 추가하시오.

list2 = list(range(1, 21, 3))
list2.append('3씩 증가')
print(list2)

In [ ]:
# ③ 리스트 list3에 'python', 'is', 'funny'를 저장하고, 제일 끝에 '!', 123을 차례대로 추가하시오.

list3 = ['python', 'is', 'funny']
list3.append('!')
list3.append(123)
print(list3)

In [ ]:
# ④ 리스트 list1에 10, 20, 30, 40, 50을 저장하고, 세 번째 위치에 60을 추가하시오.
#     힌트: 리스트 이름.insert(추가할 위치의 인덱스 값, 추가할 값)

list1 = [10, 20, 30, 40, 50]
list1.insert(2, 60)
print(list1)

In [ ]:
# ⑤ 리스트 list2에 1부터 20까지 3씩 증가하는 값들을 저장하고, 맨앞에 '3씩 증가'를 추가하시오.

list2 = list(range(1, 21, 3))
list2.insert(0, '3씩 증가')
print(list2)

In [ ]:
# ⑥ 리스트 list3에 'python', 'is', 'funny'를 저장하고, for loop를 사용하여 세 번째 위치에 'very'를 3개 추가하시오.

list3 = ['python', 'is', 'funny']
for i in range(1, 4) :
    list3.insert(2, 'very')
    i += 1
print(list3)

In [ ]:
# ⑦ 리스트 list1에 10, 20, 30, 40, 50을 저장하고, 30을 삭제하시오.
#     힌트: 리스트 이름.remove(삭제할 값)

list1 = [10, 20, 30, 40, 50]
list1.remove(30)
print(list1)

In [ ]:
# ⑧ 리스트 list2에 1부터 20까지 3씩 증가하는 값들을 저장하고, 뒤에서 세 번째 값을 삭제하시오.

list2 = list(range(1, 21, 3))
list2.remove(list2[-2])
print(list2)

In [ ]:
# ⑨ 리스트 list3에 'python', 'is', 'funny'를 저장하고, 'is'와 'funny' 값을 차례대로 삭제하시오.

list3 = ['python', 'is', 'funny']
list3.remove('is')
print(list3)

list3.remove('funny')
print(list3)

In [ ]:
# ⑩ 리스트 a = [1, 4, 3, 2]일 때 리스트의 값들을 정렬해서 출력하시오.
#     힌트: 리스트 이름.sort()

a = [1, 4, 3, 2]
a.sort()
print(a)

In [ ]:
# ⑪ 리스트 b = ['c', 'a', 'b', 'd']일 때 리스트의 값들을 내림차순으로 정렬해서 출력하시오.
#     힌트: 리스트 이름.sort(reverse = True)

b = ['c', 'a', 'b', 'd']
b.sort(reverse = True)
print(b)

In [ ]:
# ① 리스트 a = ['사자', '코끼리', '하마', '기린', '얼룩말'] 일 때, 
#     변수 animal을 사용하여 a의 값들을 하나씩 출력하시오.
#     힌트: for 변수명 in 리스트:
#                   (실행문)

a = ['사자', '코끼리', '하마', '기린', '얼룩말']

for animal in a :
    print(animal)

In [ ]:
# ② 리스트 b = ['인어공주', '알라딘', '겨울왕국', '라푼젤']일 때, b에 '라이언킹'를 추가하고,
#     변수 movie를 사용하여 b의 값들을 하나씩 출력하시오.

b = ['인어공주', '알라딘', '겨울왕국', '라푼젤']
b.append('라이언킹')
for movie in b :
    print(movie)

In [ ]:
# ③ 빈 리스트 multiple7을 생성하고, 1부터 100까지의 값들 중 7의 배수를 multiple7에 저장하여 출력하시오.
#    힌트: if문을 사용하여 7의 배수인지 판정한 후 값을 추가합니다.

multiple7 = []

for n in range(1, 101) :
    if n % 7 == 0 :
        multiple7.append(n)
print(multiple7)

In [ ]:
# ④ 빈 리스트 my_list를 생성하여 다섯 개의 숫자를 입력받아 my_list에 저장하고,
#     리스트의 값들을 정렬해서 출력하시오.
#     값을 정렬하기 위해서 int(input())을 사용한다.

my_list = []

for n in range(0, 5) :
    print('숫자를 입력하시오.')
    number = int(input())
    my_list.append(number)
    
my_list.sort()
print(my_list)

In [ ]:
# ⑤ [심화] 빈 리스트 numbers를 생성하고,
#              1부터 20까지의 값들 중 리스트 odd에는 홀수, 리스트 even에는 짝수를 저장한다.
#              리스트 numbers에 odd의 앞에서 다섯 개의 값을 가져와 추가하고,
#              그 다음으로 even는 뒤에서부터 다섯 개의 값을 차례대로 가져와 추가한 뒤,
#              맨앞에 '리스트 연습'을 추가하여 출력하시오.
#              힌트: 홀수는 1부터 2씩 증가, 짝수는 2부터 2씩 증가

numbers = []
odd = list(range(1, 21, 2))      # 1부터 2씩 증가하는 홀수
even = list(range(2, 21, 2))    # 2부터 2씩 증가하는 짝수

for n in odd[0:5] :
    numbers.append(n)

for n in even[-5:] : 
    numbers.append(n)

numbers.insert(0, '리스트 연습')
print(numbers)

In [ ]:
# ⑥ [심화] 소수(prime number)는 1과 자신의 수 로만 나눠지는 수 입니다.
#              1부터 100까지의 수 중 소수인 수들을 모두 리스트에 저장하여 출력하시오.
#              힌트: for loop를 반복하여 사용한다.
#              힌트: 1은 소수에 포함되지 않으며 가장 작은 소수는 2이다. 
#              힌트: 소수를 저장할 리스트 primes를 생성한다.

n= 100
primes = []

for i in range(2, n + 1) :     # 1은 소수에 포함되지 않기 때문에 2부터 탐색 시작
    if i == 2 :                      # 2는 소수이므로 리스트에 저장
        primes.append(i)
        
    for j in range(2, i) :
        if i % j == 0 :          # 1~ 100 사이의 숫자 i 가 소수인 j의 배수일 경우 for loop 종료
            break
        if j == i - 1 :          # for loop가 종료되지 않은 상태에서 1~ 100 사이의 숫자 i 가 소수인 j보다 1 큰 값일 경우
            primes.append(i) # 즉, 다른 수를 약수로 갖지 않고 리스트에 저장되지 않은 새로운 수를 소수로 리스트에 저장
            
print(primes)

In [ ]:
# ⑦ [심화] 위의 방법은 효율성이 떨어집니다.
#              이번에는 '에라토스테네스의 체' 방법을 활용하여 소수를 구해 봅시다.
#              에라토스테네스의 체 : 범위에서 합성수를 지우는 방식으로 소수를 찾는 방법
#              n보다 작거나 같은 모든 소수를 찾을 때 사용할 수 있다.
#              구체적인 과정은 다음과 같다.
#              1. 2부터 n까지의 모든 자연수를 나열한다.
#              2. 남은 수 중 아직 처리하지 않은 가장 작은 수 i를 찾는다. 
#              3. 남은 수 중에서 i의 배수를 모두 제거한다. (단, i는 제거하지 않는다.)
#              4. 더 이상 반복할 수 없을 때까지 2번과 3번의 과정을 반복한다.
#              1부터 100까지의 수 중 소수인 수들을 모두 리스트에 저장하여 출력하시오.
#              힌트: 숫자들이 일렬로 배치되어 있는 상태라고 생각하고 문제에 접근해 봅시다.
#              힌트: 수들이 소수인지 아닌지 저장할 리스트 a, 소수를 저장할 리스트 primes를 생성한다.
#              힌트: 모든 수가 소수(True)라는 가정으로 시작한다. 

n = 100
a =[True] * (n + 1)            # n까지의 모든 수가 소수라고 가정 (1부터 100 사이 수 i에 대해 i가 소수이면 a[i] == True)
                                      # 배열의 인덱스는 0부터 시작하므로 1 ~ 100을 인덱스로 나타내 주기 위해서 n + 1개의 인덱스가 필요
primes=[]

for i in range(2, n + 1) : # 2부터 n까지 수들 중에서
    if a[i] == True :             # 만약 i가 소수라면,
        primes.append(i)
    for j in range(2 * i, 101, i): # 소수 i의 배수들은
        a[j] = False             #  소수가 아닌 것으로 설정
print(primes)